# 本地文件的路径
ARTICLES_PATH=./articles
IMAGES_PATH=./images



SECRET_KEY=your-super-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=blog-server
MONGODB_ARTICLE_COLL=articles
MONGODB_USER_COLL=users
MONGODB_CONNECT_TIMEOUT_MS=10000
SOCKET_TIMEOUT_MS=10000

ADMIN_USERNAME=admin@pldz1.com
ADMIN_PASSWORD=123

APP_NAME=PLDZ-CODE-SPACE
APP_HOST=127.0.0.1
APP_PORT=10058
APP_ICP=京ICP备: 180xxxxx号-x
APP_COPYRIGHT=©2025 pldz1.com
APP_PS=京公网安备11xxxxxxxx9号